name: Create or Update PR

on:
  push:
    branches-ignore:
      - main
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    if: ${{ github.ref != github.event.repository.default_branch }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up NodeJS environment
        uses: actions/setup-node@v4

      - name: Create Pull Request with GitHub API
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
          BASE_BRANCH: main  # target branch of the
        run: |
          BRANCH_NAME=$(echo "${GITHUB_REF}" | sed 's|refs/heads/||')
          curl -X POST \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/pulls \
            -d "$(jq -n \
              --arg title "PR for $BRANCH_NAME" \
              --arg head "$BRANCH_NAME" \
              --arg base "$BASE_BRANCH" \
              '{title: $title, head: $head, base: $base, body: "Automatically created Pull Request to merge $head --> $base"}')"